
/* .inputStyle:active{
    outline: none;
    border-color: white;
}
.out:focus{
    border-color: white;
    outline: none;
} */

/* .profileinp{
}
.profileinp:active{
    
} */


/* for custom clock input */
/* .css-1x5jdmq{
    color: white !important
} */



/* for custom clock input */

