.search-container {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 40px;
    margin: 20px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-content {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.search-icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 1.64px 2px 2.361px 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: gray;
}

.input-text {
    margin-left: 20px;
    color: #B5B5B5;
    /* text-align: center; */
    font-feature-settings: 'clig' off, 'liga' off;
    /* Text single/200/Regular */
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border: none;
    outline: none;
    width: 100%;
    /* 100% */
}

.hero-btn {
    display: inline-flex;
    padding: 17px 35px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-radius: 61px;
    background: #F15A24;
    outline: none;
    border: none;
    color: white;
    margin-right: 17px;
}
@media only screen and (max-width: 600px) {
    .input-text {
        font-size: 13px;
    }
    .search-container{
        margin: 8px; 
    }
  }