/* ================================================    First Card   ================================================  */


.service-name {
    color: #000;
    font-family: sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 7500;
    line-height: 30px;

}

.job-review {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.review-btn-container {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #3954E0;
}

.review-percent-text {
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.service-sub-name {
    color: #000;
    font-family: sans-serif;
    font-size: 38px;
    font-style: bold;
    font-weight: 600;
    line-height: 30px;

}

.job-details {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;

}

.category-text {
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.how-its-works {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: bold;
    font-weight: 500;
    line-height: 30px;

}

.how-its-works-discription {
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5px;
}

.certified-details {
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

@media (max-width: 880px) {
    .service-name {
        font-size: 35px;
    }

    .job-review {
        font-size: 18px;
    }

    .service-sub-name {
        font-size: 30px;
    }

    .job-details {
        font-size: 14px;
        line-height: 21px;
    }

    .category-text {
        font-size: 13px;
    }

    .how-its-works {
        font-size: 20px;
    }

    .how-its-works-discription {
        font-size: 12px;
        line-height: 20px;
    }

    .certified-details {
        font-size: 16px;
        line-height: 24px;
    }
}

/* ================================================    First Card   ================================================  */

/* ================================================    Second Card   ================================================  */

.top-border {
    border-radius: 30px 30px 0px 0px;
    background: #F15A24;
    height: 41px;
}

.questions-about {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.learn-more {
    color: #F15A24;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.burners {
    /* width: 573px; */
    height: 170px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgb(254 238 233);
    margin-top: 20px;

}

.burners-text {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    z-index: 2px;
    /* 125% */
}

.burners-price {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    text-align: end;
    /* 125% */
}

.discount-container {
    /* width: 573px; */
    height: 293px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, #071D5B 0%, #5A70AF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.additional-burner-one {
    color: #FFF;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 154px;
    /* 125% */
}

.additional-burner {
    color: #FFF;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.burner-discount {
    color: #FFF;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-decoration-line: line-through;
    opacity: 0.4;
}

.burner-amount {
    color: #F15A24;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 125% */
}

.more-benefits {
    width: 393px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.Learn-More {
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    text-decoration-line: underline;
}

.different-address {
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    text-decoration-line: underline;
}

.get-start-btn {
    /* width: 573px; */
    height: 72px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #F15A24;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botto-border {
    background: rgb(254 238 233);
    border-radius: 0px 0px 30px 30px;
    height: 62px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;

}

.bottom-content {
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bottom-content-two {
    height: 224px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgb(254 238 233);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bottom-content-text {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    justify-content: center;
    align-items: center;

    /* 150% */
}

@media (max-width: 880px) {
    .questions-about {
        font-size: 18px;
    }

    .learn-more {
        font-size: 18px;
    }

    .burners-text {
        font-size: 18px;

    }

    .burners-price {
        font-size: 18px;

    }

    .additional-burner-one {
        font-size: 18px;
        width: auto;
    }

    .additional-burner {
        font-size: 18px;

    }

    .more-benefits {
        width: 300px;
        font-size: 14px;
    }

    .learn-more {
        font-size: 14px;
    }

    .get-start-btn {
        height: 51px;
    }
}

/* ================================================    Second Card   ================================================  */
/* ================================================    Discount Card   ================================================  */

.discount-main {
    height: 553px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #0F2563;
    /* text-align: center; */
    /* justify-content: center; */
}

.discount-border {
    width: 45%;
    height: 154px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #F15A24;
    justify-content: center;
    align-items: center;

}

.perc-off {
    color: #FFF;
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 60% */
}

.perc-off-inner {
    color: #FFF;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 125% */
}


/* ================================================    Discount Card   ================================================  */