.card-container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 220px;
    height: 268px;
    flex-shrink: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;



}

.card-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* Change box-shadow on hover */
}

.img-size {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.card-heading-service {
    font-size: 16px;
    font-weight: bold;
}

.service-sub-heading {
    color: rgba(7, 29, 91, 0.30);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.25%;
}

@media (max-width: 500px) {
    .card-container {
        width: 200px;
        height: 200px;
    }

    .img-size {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
    }
}