@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --active-sidebar-width: 220px;
  --inactive-sidebar-width: 220px;
  --transition-ref: all 0.5s ease-in-out;
  --transition-transform: width 0.5s ease-in-out;
  --mainColor: #13209f;
  --left-md-down-screen: -275px;
  --md-down-sidebar-width: 300px;
  --font-family-montserrat: "Montserrat", sans-serif;
}

.sidebar {
  position: fixed;
  display: block;
  z-index: 1000;
  width: var(--inactive-sidebar-width);
  height: 100vh;
  transition-property: width, border-right-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  border-radius: "0px 20px 20px 0px";
  background-position: top center;
  background-color: rgba(250, 250, 250);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.sidebar.active.hidden-side-bar {
  width: 0;
}

.sidebar.hidden-side-bar {
  width: 0;
}

.sidebar.active.hidden-side-bar ~ .show-hide-sidebar-toggle,
.sidebar.hidden-side-bar ~ .show-hide-sidebar-toggle {
  left: 0;
}

.sidebar.active.hidden-side-bar ~ .content-view,
.sidebar.hidden-side-bar ~ .content-view {
  left: 0;
  width: 100%;
}

.show-hide-sidebar-toggle {
  display: block;
  cursor: pointer;
  z-index: 1001;
  opacity: 1;
  position: absolute;
  width: 20px;
  height: 40px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  left: var(--inactive-sidebar-width);
  top: 50%;
  bottom: 50%;
  transition-property: left, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar.active ~ .show-hide-sidebar-toggle {
  left: var(--active-sidebar-width);
}

.content-effect-logo-text {
  height: 57px;
  width: 120px;
  transition: display 0.25s ease-in-out;
  transition-delay: 0.2s;
}

.hideSideBar {
  width: 0 !important;
  left: 0 !important;
}

.topBarStyle {
  height: 80px;
  transition: all 0.55s ease-in-out !important;
  overflow: hidden;
}

.topBarStyle.hideTopBar {
  height: 0px !important;
  opacity: 0 !important;
}

.hide-show-hide-sidebar-toggle {
  left: -20px !important;
  opacity: 0;
}

.hideSideBar ~ .content-view {
  width: 100% !important;
  left: 0 !important;
}

.sidebar.active {
  height: 100vh;
  width: var(--active-sidebar-width);
}

.sidebar.active ~ .content-view {
  left: var(--active-sidebar-width);
  width: calc(100% - var(--active-sidebar-width));
}

.content-view {
  position: absolute;
  left: var(--inactive-sidebar-width);
  height: 100%;
  width: calc(100% - var(--inactive-sidebar-width));
  transition: var(--transition-ref);
}

.appbar {
  box-shadow: 2px 2px 6px #00000054;
}

.sidebar.active ~ .content-effect {
  transition: var(--transition-ref);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.transform-text-none {
  text-transform: none !important;
}

.btnStyleNone {
  background-color: transparent;
  border-style: none;
}

.btnStyleNone:hover {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.toggleSidebarButton {
  display: none;
}

@media only screen and (max-width: 850px) {
  .sidebar {
    width: 0% !important;
    z-index: 100;
    border-style: none;
    background-color: rgba(250, 250, 250);
    transition: var(--transition-ref);
    left: var(--left-md-down-screen);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .show-hide-sidebar-toggle {
    display: none !important;
  }

  .content-view {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
  }

  .sidebar.active ~ .content-view {
    left: 0;
    width: 100%;
  }

  .sidebar.active {
    width: 100% !important;
    left: 0;
    border-radius: 0px;
    z-index: 10000;
  }

  .mdDownsideBarMain {
    background-color: #00000092;
    height: 100vh;
    z-index: 100;
  }

  .toggleSidebarButton {
    display: block;
  }
}
