.input {
    outline: none;
    border: 1px solid #F15A24;
    border-radius: 4px;
    padding: 18px;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 50px;
}

.input::placeholder {
    color: #aaaaaa;
}

.label-text {
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}